<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nearbysocialevents.nearby975">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    
    <application android:allowBackup="true" android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" android:supportsRtl="true" android:theme="@android:style/Theme.Light.NoTitleBar"  >

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ActivityValidarIngresso"></activity>
        <activity android:name=".AgendaActivity"></activity>
        <activity android:name=".ActivityCriarConta"></activity>
        <activity android:name=".ActivityLogin"></activity>
        <activity android:name=".ActivityTelaPrincipal"></activity>
        <activity android:name=".ActivityAlterarDadosPessoais"></activity>
        <activity android:name=".ActivityMeusEventos"></activity>
        <activity android:name=".ActivityCriarEvento"></activity>
        <activity android:name=".ActivityListaContatos"></activity>
        <activity android:name=".ActivityBuscarEvento"></activity>
        <activity android:name=".ActivityEvento"></activity>
        <activity android:name=".ActivityGerenciarEvento"></activity>
        <activity android:name=".ActivityFotosEvento"></activity>
        <activity android:name=".ActivityChat"></activity>
        <activity android:name=".ActivityVerIngresso"></activity>


    </application>

</manifest>